*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(8, 34, 61);
  color: aliceblue;
  font-size: 16px;
  position: relative;
}

:root {
  --margin-from-navbar: 2.0rem;
  --font-color-one: rgb(27, 174, 223);
  --font-color-two: rgb(84, 233, 121);
  --font-size-heading-one: 30px;
  --font-size-heading-two: 22px;
  --font-size-heading-three: 45px;
  --margin-bottom-one: 10vh;
  --margin-bottom-two: 5vh;
}

@media screen and (min-width: 800px) {
  body {
    font-size: 20px;
  }
}
